## Final Project Submission

Please fill out: 
* Student name: Mathew Kiprotich
* Student pace: / full time
* Scheduled project review date/time: 03/18/2024
* Instructor name: Diana Mongina
* Blog post URL:


 
 1.INTRO

    Overview

The project's main aim is to provide insights to assist Microsoft in entering and succeeding in the movie industry. We will conduct exploratory data analysis to discover useful information that can guide decisions on the kinds of films Microsoft should produced

 2.OBJECTIVES

     overal goals  

We will explore and analyze the types of movies that are currently popular at the box office. Then, we'll use what we find to decide what kinds of movies Microsoft should make by:

      1. loading datasets into pandas
      2. Retreving data from a DataFrame
      3. Data preparation and cleaning
      4. Exploratory aanalysis
      5. Data visualization

 3.DATA
 
Datasets are storedin the 'ZippedData' folder which were sourced from:

        Box Office MojoLinks
            born.movie_gross.csv
        IMDLINKS
            im.db
        Rotten TomatoesLinks
            rt.movies_info.tsv 
        TheMovieDBLinks
            tmdb.movies.csv
        The Numbers
            tn.movie_budgets.csv

Importing relevant libraries
    import paandas, numpy, csv with their aliases

In [2]:
#importing libraries
import pandas as pd
import sqlite3
import csv
import numpy as np
from datetime import datetime

In [3]:
#importing data visualization tools
import matplotlib.pyplot as plt

%matplotlib inline

Loading Datasets
  movies_budget = pd.read_csv('zippedData/tn.movie_budgets.csv')
  movies_gross = pd.read_csv('zippedData/bom.movie_gross.csv')
  tmd = pd.read_csv('zippedData/tmdb.movies.csv',index_col=0)
  reviews = pd.read_csv('zippedData/rt.reviews.tsv', delimiter='\t',encoding='unicode_escape')
  conn = sqlite3.connect('zippedData/im.db')
  movie_info = pd.read_csv('zippedData/rt.movie_info.tsv', delimiter ='\t', encoding='unicode_escape' )

In [7]:
# Load the data from 'tn.movie_budgets.csv' into a dataframe
import pandas as pd

# Read the CSV file into a DataFrame
movies_budget = pd.read_csv('zippedData/tn.movie_budgets.csv.gz')
movies_budget

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"